<launch>		
	<group> 
	<arg name="namespace" default="bluerov2"/>

	<node pkg="autonomous_rov" exec="video" name="video" namespace="$(var namespace)" output="screen">
	</node>		

	<!-- <node pkg="autonomous_rov" exec="image_processing_tracker" name="image_processing_tracker" namespace="$(var namespace)" output="screen"> -->
	<!-- </node>		 -->
		
	</group>
</launch>	

